<ul class="errors">
</ul>
<form class="input-group">
  <input type="text"
         class="form-control"
         name="title"
         placeholder="Board title"
         value="<%= board.escape('title') %>">
  <button type="submit" class="form-control">Create</button>
</form>
